.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.movie-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.movie-wrapper {
  width: 200px;
  background: antiquewhite;
  color: #000;
  border-radius: 10px;
}

.movie-wrapper img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.movie-search {
  height: 48px;
  font-size: 24px;
  margin-bottom: 32px;
  padding: 16px;
  font-weight: bold;
  width: 475px;
}

.movie-details {
  padding: 10px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}

.movie-title {
  height: 40px;
  font-weight: bold;
  font-size: 13px;
  line-height: 1.3em;
}

.movie-date {
  font-style: italic;
  font-size: 0.7rem;
  line-height: 1.3em;
}

.movie-rating {
  color: #f00;
  font-weight: bold;
  font-size: 0.67em;
}
